body {
    color: #b837eb;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 3px;
    background:lavender;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 3px #6e208d;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width:100%;
}

.correct {
    background: rgb(112, 210, 112);
}

.incorrect {
    background: rgb(214, 69, 69);
}

/* Heads Up Display */
#hud {
    display: flex;
    justify-content: center;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(76, 208, 76);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: lavender;
    width: 0%;
}
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}